<!DOCTYPE html>
<html>
<head>
    <title>Name The Pokemon</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Andy&display=swap">
    <link rel="stylesheet" href="/styles.css">
    <style>
        body {
            background-image: url('/images/backgrounds/<%= backgroundImage %>');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #000;
            color: black;
            height: 100vh;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .container {
            text-align: center;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 100px; 
        }
        .info-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .sprite-container {
            width: 350px;
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sprite {
            width: 100%;
            height: auto;
            image-rendering: pixelated;
            border: 4px solid rgba(255, 255, 0, 0.91); 
            border-radius: 5px;
        }

        h1 {
            font-size: 3em;
            padding: 20px;
            margin-bottom: 50px; 
            border-radius: 10px;
            font-family: 'Andy', sans-serif; 
        }

        .hint-info {
            font-size: 1.5em;
            font-family: 'Andy', sans-serif; 
            margin: 10px 0;
            background-color: rgba(255, 255, 0, 0.827); 
            padding: 10px; 
            border-radius: 5px; 
            margin-top: 30px;
        }

        .inline-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px; 
            margin-top: 20px;
        }
        .gif {
            width: 300px;
            height: auto;
        }
        
        .counter {
            font-size: 2em;
            margin: 10px 0;
            color: black; 
            background-color: rgba(255, 252, 45, 0.4); 
            padding: 10px; 
            border-radius: 5px; 
        }

        .pikachu {
            width: 150px;
            height: auto;
            padding-left: -10px;
        }
       
        input[type="text"] {
            width: 200px;
            height: 30px; 
            font-size: 1.2em; 
            padding: 5px 10px;
            margin-bottom: 10px; 
            border-radius: 10px; 
            font-family: 'Andy', sans-serif; 
        }

        .input-container {
            display: inline-block;
        }

        .input-container .label {
            background-color:rgba(255, 255, 0, 0.827);
            padding: 5px;
            font-size: 30px;
            border-radius: 5px;
            font-family: 'Andy', sans-serif; 
        }

        button[type="submit"] {
            display: none;
        }

        .bk-img {
            width: 400px; 
            height: auto;
            margin-top: 0 px; 
            margin-bottom: -90px;
        }

        .header-bg{
            background-color: rgba(255, 255, 0, 0.827);
            border-radius: 10px;
            width: 1000px;
            margin: 0 auto; 
        }

        .separator-image {
            width: 150px;
            height: auto;
            vertical-align: middle;
        }

    </style>


    <script>
        function submitFormOnEnter(event) {
            if (event.keyCode === 13) {
                event.preventDefault(); 
                document.getElementById('guessForm').submit();
            }
        }

        function showHint(hintId) {
            var hint = document.getElementById(hintId);
            if (hint.style.display === "none") {
                hint.style.display = "block";
            } else {
                hint.style.display = "none";
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="header-bg">
            <img src="/images/back.png" alt="Backer Image" class="bk-img">
            <h1>
                Who's That Pokémon?
            </h1>
        </div>

        <% if (pokemon) { %>
            <div class="content">
                <div class="sprite-container">
                    <img src="<%= pokemon.sprites.front_default %>" alt="Pokémon" class="sprite">
                </div>
                <div class="info-container">
                    <form id="guessForm" action="/guess" method="POST">
                        <div class="input-container">
                            <span class="label">Name:</span>
                            <input type="hidden" name="name" value="<%= pokemon.name %>">
                            <input type="text" name="guess" placeholder="Enter Pokémon name" onkeydown="submitFormOnEnter(event)">
                        </div>
                        <button type="submit">Guess</button>
                    </form>

                    <div class="info">
                        <div class="type">
                            <p class="hint-info">Type: <%= types.join(', ') %></p>
                        </div>
                        <div class="habitat">
                            <p class="hint-info">Habitat: <%= habitat %></p>
                        </div>
                        <div class="abilities"> 
                            <p class="hint-info">Abilities: <%= abilities.join(', ') %></p>
                        </div>
                    </div>
                </div>
                
            </div>
        <% } else { %>
            <p><%= error %></p>
        <% } %>

        <div class="inline-container">
            <div class="gif-container">
                <img src="/images/success.gif" alt="Animated GIF" class="gif">
            </div>
            <div class="counter">
                Correct Guesses: <%= correctGuesses %>  
                <img src="/images/pokeballgifload.gif" alt="Separator Image" class="separator-image">
                Incorrect Guesses: <%= incorrectGuesses %>
            </div>
            <div class="container-gif">
                <img src="/images/pikachu.gif" alt="Pikachu GIF" class="pikachu">
            </div>
        </div>
    </div>
</body>
</html>

